.roboto-font-400 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: rgb(186, 186, 186);
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  /* background-color: hsl(240, 73%, 30%); */
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 14%);
  color: hsl(0, 0%, 90%);
  padding: 20px 10px;
  max-width: 100%;
  box-shadow: 0 2px 5px black;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

/* Dropdown Button */
.dropbtn,
.search-button {
  background-color: hsl(204, 70%, 53%);
  color: white;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 40px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus,
.search-button:hover,
.search-button:active {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #cfcfcf;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  margin-top: 10px;
  right: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.content-button {
  color: black;
  padding: 12px 16px;
  font-size: 1em;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-radius: 10px;
}

.content-button:hover {
  color: white;
  background-color: rgb(189, 189, 189);
}

.content-button:active {
  color: hsl(204, 70%, 53%);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 40px;
  gap: 6em;
  height: 80vh;
}

.user-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.current-weather-section {
  color: white;
  min-width: 400px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  gap: 2em;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2),
    inset 0 -2px 5px rgba(255, 255, 255, 0.5), 0 5px 10px rgba(0, 0, 0, 0.3);
}

.current-location {
  font-size: 1.6em;
}

.weather-and-time {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.current-weather-degrees,
.current-time {
  font-family: "Roboto", "sans-serif";
  font-size: 3em;
}

.current-date {
  font-size: 1.6em;
}

.input-section {
  padding: 50px;
  background-color: hsl(0, 0%, 14%);
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  box-shadow: 0 0 5px black;
}

.input-section input {
  height: 40px;
  width: 275px;
  background-color: hsl(0, 0%, 14%);
  border: 2px solid hsl(204, 70%, 53%);
  box-shadow: 0 0 5px rgb(110, 110, 110);
  color: hsl(0, 0%, 90%);
  padding: 2px 10px;
  font-size: 1em;
  border-radius: 10px;
}
.input-section input:focus {
  border: 2px solid hsl(204, 70%, 53%);
}

.input-section label {
  color: hsl(0, 0%, 90%);
  font-size: 1.5em;
}

.search-button-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-button {
  margin: 0;
  width: 100%;
}

.weather-section {
  padding: 50px;
  background-color: hsl(0, 0%, 14%);
  color: hsl(0, 0%, 90%);
  border-radius: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  gap: 2em;
  box-shadow: 0 0 5px black;
}

.weather-section h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.forecast-day {
  font-size: 1.5em;
}

.weather-window {
  display: flex;
  width: 100%;
  min-height: 250px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.6em;
}

.weather-info {
  font-size: 1.2em;
  border-radius: 10px;
  border: 2px solid hsl(204, 70%, 53%);
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  gap: 0.4em;
  width: 150px;
  max-width: 232px;
  animation: slide-up 1s forwards ease-in-out;
}

.current-wind-and-humidity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.weather-info:hover {
  transform: scale(102%);
}

.temp-forecast {
  font-size: 1.6em;
}

#temp-high {
  margin: 10px 0 0 0;
}

#temp-low {
  margin: 0;
  padding: 0;
}

.wind-and-humidity {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
}

@media only screen and (max-width: 940px) {
  .weather-window {
    flex-direction: column;
  }

  .weather-section {
    width: 70%;
    justify-content: center;
    align-items: center;
  }

  .weather-info {
    width: 200px;
  }

  .user-input {
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
  }

  .current-weather-section {
    margin: 0;
  }

  .input-section {
    margin: 0;
  }

  .dropbtn {
    margin: 0;
  }
}
